<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logeado"></ion-back-button>
    </ion-buttons>
    <ion-title>Tu Información de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-card class="ion-text-center">
    <ion-card-header>
     <h3>Información Básica del Usuario</h3>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre de Usuario:</ion-label>
        <ion-text>Ediazg</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-text>Eduardo Antonio</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Apellido:</ion-label>
        <ion-text>Díaz Gallardo</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Edad:</ion-label>
        <ion-text>36</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Correo Electrónico:</ion-label>
        <ion-text>Ediazgc&#64;gmail.com</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>


